<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wishfin_credit_card">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wishfin_Credit_Card">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".Loginpage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".Signuppage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".PersonalInformationPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".ExploreCreditCard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".CardDetailPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".Profilepage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".OfferlistingPge"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".EligibleCardsListing"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".EligibleCardDetailPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".Thankyoupage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
        <activity
            android:name=".Dynamicdisplaypage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wishfin_Credit_Card.NoActionBar" />
    </application>

</manifest>